[2015-05-20 07:38] biapar opened #1 "Is UmbracoIdentityExtensions already available for U7?"
Is UmbracoIdentityExtensions already available for U7?

[2015-05-20 07:39] Shazwazza commented on #1
Nope, this is an unreleased package and is built for umb 7.3.0 which is also unreleased.

[2015-05-20 07:39] #1 closed

[2015-06-18 11:55] warrenbuckley opened #3 "Unable to use CustomOwinStartup class with UseUmbracoBackOfficeTokenAuth()"
I have tried playing round & experimenting with the new Auth & Identity pieces with the new RestAPI stuff and was unable to do a HTTP POST to the token endpoint when using CustomOwinStartup class.

The HTTP post in POSTMAN was as follows:

[code]

The exception is as follows:

[code]

See this Umbraco forum thread in relation to this
https://our.umbraco.org/forum/developers/api-questions/66541-umb

[2015-06-18 16:29] warrenbuckley opened #4 "Allow Two-Factor Local Authentication available in .NET Identity"
Allow for Local Two Factor Identity so that a SMS or TOTP (Time Based One Time Passcodes) aka Google Authenticator Application & even email (even though it's not secure/ideal)

Normal .NET Identity allows this to be done but from what I could see, I was not able to do this.
I have been reading articles on this on how to implement, but I am having little luck & seen comments in the codebase then yo

[2015-06-18 16:33] Shazwazza commented on #4
Mate... unfortunately we are not going to build this into the core. You CAN implement it on your own, you will have to implement a custom user manager and implement your own db tables. Any implementation of 2 factor auth will be different and different providers will probably make you store custom data. Our recommendataion is: 2 factor auth is done already by tons of third party programs (like goo

[2015-06-18 16:33] #4 closed

[2015-06-18 16:34] Shazwazza commented on #4
Yes... it will be a lot of work, that is the nature of implementing custom authentication. Integrating with SMS providers, etc... will be done differently per provider, i don't think there's just a super easy single OOTB solution that we should provide that will work for everyone. No matter what you are going to have to do some work and code to make this happen.

[2015-06-18 16:35] Shazwazza commented on #4
And you don't implement an entire user store/user manager, you just extend the one that we already give you.

[2015-06-18 16:47] warrenbuckley commented on #4
I may bug you for advice/pointers on how to do this, but obviously a GitHub issue is probably not the best place for this to happen. But obviously with me wanting to implement my own two factor auth, would require some UI changes in the backoffice, hence me asking more broadly for support.

As no matter on the delivery method of the token/code (sent out via email, SMS, carrier pigeon, morse code)

[2015-06-18 16:50] warrenbuckley commented on #4
I agree most 3rd party Google, Microsoft obviously offer this, but there are some clients & corporates that may not be using any of these 3rd party providers or Active Directory. Hence the idea of providing two factor auth for local based accounts not linked/connected to a 3rd party identity.

[2015-06-18 16:53] Shazwazza commented on #4
Here is a good place for that convo.

Yup i understand the need for it, but the core cannot cater for all cases, so we need to be able to support people being able to extend the core to support their needs. It will be an interesting process.

For much of the UI, it will be best to have the form fields, etc... to redirect to your own UI so you can accept and process the input however you like. The

[2015-06-18 18:50] warrenbuckley commented on #4
OK thanks for being so helpful mate.
Expect more questions as I find time to hack, play & learn more about Identity along the way.

I can understand the core's stance on this, like you say 1001 options for this.

The UI needs the following:
* Button to toggle state of two factor auth in backoffice once logged in (Side bar profile panel?)
  -  Enable it, then display & generate QRCode for Google Au

[2015-06-19 15:01] warrenbuckley commented on #4
OK started hacking/exploring with this. Got a simple controller that gets the UserManager then I can check if its enabled & set it to be enabled. However obviously the UserManager does not support this, plus if it did the UserStore has no way of knowing what to do either. IE what to insert into the DB.

So I assume for the userstore part I need to do something similar & implement this interface fo

[2015-06-19 15:26] warrenbuckley commented on #4
OK when trying to write something for the `GetTwoFactorEnabledAsync` method. I noticed the `BackOfficeIdentityUser `has a property for `TwoFactorEnabled` which its inheriting from `IdentityUser` class

https://github.com/umbraco/Umbraco-CMS/blob/dev-v7/src/Umbraco.Core/Models/Identity/IdentityUser.cs#L73

Is this POCO class mapping the majority of the properties back to the DB table, but as there

[2015-06-19 16:40] warrenbuckley commented on #4
My mess & experimenting to better understand Identity & my current efforts will be in this repo
https://github.com/warrenbuckley/Umbraco-Identity-Playground

This will give a bit of better context than fragments here & there

[2015-06-22 15:59] warrenbuckley opened #6 "Unsure how to set different properties on userManager or override it completely?"
When trying to get my head around .NET Identity still I am looking at the useful userManager object so that I can play/experiment with two factor auth, as this is the backbone to Identity.

In the main core I see there is this private method `InitUserManager` on the `Umbraco.Core.Security.UserManager` class that is setting most of these properties for initalisation. Such as password length etc

No

[2015-06-23 07:37] Shazwazza commented on #4
I'll have to find some time this week to reply to all of this mate. You should inherit from the current umbraco user store and implement the IUserTwoFactorStore. Then replace the current user store with your new overriding user store. For any additional columns in the db that you need you should create a new db table with a 1:1 relationship.

[2015-06-23 08:17] warrenbuckley commented on #4
Thanks for replying to this thread of my muddled thoughts, questions & problems I come across as I hack & explore this.

Yeh I have managed to figure out how that I need to inherit from `IUserTwoFactorStore`
https://github.com/warrenbuckley/Umbraco-Identity-Playground/blob/master/Umbraco.Identity.TwoFactor/Identity/TwoFactorUserStore.cs

Next I am trying to get the UserManager to use my custom sto

[2015-06-23 08:24] Shazwazza commented on #4
As mentioned before, the purpose of the UmbracoCustomOwinStartup, is to be able to modify these things, the 'Standard' won't work for this. Also, i didn't mean just inherit from IUserTwoFactorStore, you need to inherit from the user manager that we ship with so you get all of the other stuff already coded in there (otherwise nothing will work), then you also need to implement IUserTwoFactorStore

[2015-06-23 08:36] warrenbuckley commented on #4
Sorry mate if I am being really dumb.
OK yes I can see the example in the `UmbracoCustomOwinStartup` for `ConfigureUserManagerForUmbracoBackOffice`

When you say inherit from the userManager that you ship, it's that what I am currently struggling with on how to do. As I would have thought I would need to inherit from your `BackOfficeUserStore` which has the logic for looking up users, finding them

[2015-06-25 16:42] Shazwazza commented on #4
Yo, sorry I haven't had time to get back to all of this, we are super busy trying to get the remaining 7.3 stuff done for beta2.

In the meantime, you'll be happy to know that I'm currently working on a solution that will allow developers to plugin in a little to the UI pipeline for auth ... which might also work for the 2 factor auth 2nd screen. This is a requirement currently for this issue: htt

[2015-06-25 17:42] warrenbuckley commented on #4
Hey @Shazwazza no problem now have equally become busy, but would like to eventually finish this, with a little help with some pointers from you.

Its good to hear the UI will support these type of customisations :+1:

[2016-01-11 22:27] terryclancy opened #7 "Nuget UmbracoIdentityExtensions Installation Error"
Dear UmbracoIdentityExtensions  Folk,

I received the following error trying to :  Install-Package UmbracoCms.IdentityExtensions

Below  is the output of my attempt from the Package Manager Console.

Any assistance in overcoming this error would be appreciated.

Thanks

Terry Clancy

ClanceZ

PM> Install-Package UmbracoCms.IdentityExtensions
Attempting to gather dependencies information for packag

[2016-01-11 22:43] terryclancy commented on #7
Never Mind.

I updated the installation of NuGet  in Visual Studio ( go to Tools > Extensions and Updates, then Updates > Visual Studio Gallery. Check if there's a NuGet Update available and install it.)  ANd now it works fine.

Terry Clancy

ClanceZ

[2016-01-11 22:49] terryclancy opened #8 "Extending the ASP.Net Identity implementation for Umbraco "Members" (rather than back office users)"
Hi UmbracoIdentityExtensions Folks,

Can  "UmbracoIdentityExtensions" be used to extend the ASP.Net Identity implementation for Umbraco "Members" (rather than Back Office users) ?  I want to support Facebook etc login for Umbraco "Members".

If not can you recommend an approach please ?

Thanks

Terry

[2016-01-12 17:28] #7 closed

[2016-01-13 09:27] Shazwazza commented on #8
You need to look at this repo: https://github.com/Shazwazza/umbracoidentity

IdentityExtensions is for adding functionality for back office in Umbraco.

[2016-01-13 09:27] #8 closed

[2016-01-13 17:59] terryclancy commented on #8
Thanks very much

[2016-01-26 08:17] terryclancy opened #9 "Where does UmbracoIDentity persist members of the "IdentityMember" class like PhoneNumber ?"
Thanks for your help to date - I now have the basics of UmbracoIdentity working and am working on implementing EmailConfirmation (and will then do FaceBook integration).

I note that UmbracoApplicationMember inherits from UmbracoIdentityMember which inherits from IdentityMember which has several members including for example the string PhoneNumber.

When I include the following code in UmbracoIden

[2016-01-26 08:55] Shazwazza commented on #9
Hi, you seem to be posting this question on the wrong github repository. I assume you are looking for UmbracoIdentity (https://github.com/Shazwazza/UmbracoIdentity/) , not IdentityExtensions?

I'm from Sydney but living in Copenhagen, I'll be back closer to the end of 2016 so beers maybe then!

[2016-01-26 08:55] #9 closed

[2016-01-26 17:37] terryclancy commented on #9
You are correct - sorry, will repost on UmbracoIdentity ,  also sorry I will miss you in Sydney - I'll let you know if I make it to Copenhagen !!

[2016-06-24 14:38] biapar opened #11 "Social login for member: how to?"
Hi,

Is't possibile with Identity to enable social login for members?

[2016-06-27 05:58] Shazwazza commented on #11
Yes, you need to use https://github.com/Shazwazza/UmbracoIdentity

[2016-06-27 05:58] #11 closed

[2016-12-08 14:31] justin-ruffin opened #12 "UmbracoADAuthExtensions - Redirect Uri"
The RedirectUri param is not being set for the OpenIdConnectAuthenticationOptions.

Please find image of corrected source code with the missing line highlighted.

Thanks,
Justin

![image](https://cloud.githubusercontent.com/assets/24457439/21013593/93905c70-bd0f-11e6-90af-8de67fc5528c.png)

[2017-01-03 11:56] fraabye opened #13 "Federated AD FS login fails silently after some time"
We have implemented AD FS login as described in this post: http://24days.in/umbraco-cms/2016/authenticating-with-ad-fs-and-identityextensions/

Initially, the federated login works as expected but after some time the login fails silently. The user is forwarded to the AD FS server and authenticated correctly, but is returned to the Umbraco login form.

Recycling the app / touching a config file sol

[2017-01-03 12:43] jhauge commented on #13
Sounds a lot like the problem I had when I experienced what is described in this SO thread:
http://stackoverflow.com/questions/20737578/asp-net-sessionid-owin-cookies-do-not-send-to-browser

Short story long: Does this problem go away only to return after 20 minutes or so if you restart the site? Then the problem probably lies in a timing mismatch between the cookies issued during login process.

[2017-01-03 12:54] fraabye commented on #13
Thanks @jhauge I will give it a go. The problem does come back and roughly 20 minutes sounds right. However, I haven't had time to time it precisely yet.

[2017-01-09 22:09] tahirnaveed opened #14 "Custom DB Table for users/roles/claims possible different database"
Any chance, you can give me some pointers to save the user data to a custom tables or to a different database? and not use the default tables...

Thanks

[2017-01-10 00:00] Shazwazza commented on #14
I'm not sure if you are posting to the correct repository. What are you referring to? This codebase `UmbracoIdentityExtensions` doesn't store any data, it's just helper methods to interact with Umbraco's Identity implementation. If you are referring to storing Umbraco's own user data elsewhere, that is currently not possible. You should log an issue or feature request on the Umbraco tracker for th

[2017-01-29 12:00] akeilox commented on #4
Stumbled across this page while researching TOTP (google authenticator) support for Umbraco back-office login.

Are there any changes/updates in the latest 7.5.8 or planned anytime soon?

cheers!

[2017-02-19 11:00] omkarkhair opened #16 "Azure AD authentication for frontend"
Can this be somehow extended for use in Umbraco frontend? Are there any guidelines on how I could implement this?

[2017-02-20 00:14] Shazwazza commented on #16
IdentityExtensions is for back office users. If you want ASP.NET Identity support for front-end members, use:  https://github.com/shazwazza/UmbracoIdentity

[2017-02-20 00:14] #16 closed

[2017-02-20 01:39] Shazwazza commented on #4
@akeilox In Umbraco 7.6 Core we've added better support for being able to integrate custom 2FA, I'll try to post some docs once we're closer to release time and find time to write them, it will still require a lot of custom integration but options have been enabled to allow you to provide a custom 2FA login model screen.

[2017-04-12 12:37] biapar opened #17 "It's OAUTH v1 or v2?"
It's OAUTH v1 or v2?

[2017-04-18 02:44] Shazwazza commented on #17
Once again, can you please be more specific with your questions? What are you referring to here and what in what context ?

[2017-04-24 11:38] nigel-dewar opened #18 "Question: IdentityServer3 or 4 possible"
Hi there,

Please excuse if this question has already been answered, I am BRAND NEW to the Umbraco community.

My query is, can UmbracoIdentityExtensions be used with IdentityServer3 or 4?,

And if so, is there any Umbraco sample hooked up with IdentityServer3 or 4 that one can reference?

Cheers

[2017-04-26 03:52] nigel-dewar commented on #18
Hi There,

Just a friedly ping to see If I can get an answer on this. Doing some research for work to see how we can use Umbraco

[2017-04-26 04:12] Shazwazza commented on #18
Yes it will work but will require some configuration, i unfortunately don't have an example for you. Identity server uses OpenIdConnect so that is the provider you would need to use (similar to the Azure AD one: https://github.com/umbraco/UmbracoIdentityExtensions/blob/master/src/App_Start/UmbracoADAuthExtensions.cs )

[2017-04-26 04:13] Shazwazza commented on #18
Might be worth asking on the forum if anyone has hooked this up: https://our.umbraco.org

[2017-04-26 04:27] nigel-dewar commented on #18
Cool thanks for this. I can see now what I will need to do.

Should be sweet as hooking it up

Cheers mate.

[2017-04-26 04:27] #18 closed

[2017-04-26 04:29] Shazwazza commented on #18
I'd love to ship with an example of that too since it's probably a common provider people will want to use. Let me know how you go.

[2017-04-26 04:36] nigel-dewar commented on #18
Thanks mate I certainly will.

and cheers again for the link, that had exactly what I needed to progress

:-)

[2017-04-26 20:11] paulsterling commented on #18
@nigel-dewar Just as you asked someone in the community seems to have the answer:

https://yuriburger.net/2017/04/26/login-to-umbraco-backoffice-using-identityserver4/

[2017-04-26 22:19] nigel-dewar commented on #18
Oh Sweet thats awesome! Thanks so much for posting on this.

cheers.

[2017-04-26 22:33] Shazwazza commented on #18
Nice, though you don't need the `Install-Package UmbracoCms.IdentityExtensions.Microsoft` package, that is for the Microsoft OAuth provider, all you need is `Install-Package UmbracoCms.IdentityExtensions` and then install the package `Microsoft.Owin.Security.OpenIdConnect`

Great post, i'll link to the docs.

Thanks!

[2017-05-08 09:24] jafferton91 opened #19 "Cannot use Identity Extensions (Active Directory) with Microsoft.Web.Redis.RedisSessionStateProvider"
Problem described fully on stack overflow with links to blog posts etc:

http://stackoverflow.com/questions/43783690/active-directory-authentication-for-umbraco-7-6-gets-stuck-in-a-re-direct-loop?noredirect=1#comment74720009_43783690

Problem in short: When Microsoft.Web.Redis.RedisSessionStateProvider is used for session state caching, the Azure AD extension does not work. It redirects in a loop

[2017-05-10 04:57] Shazwazza commented on #19
Wonder if that is related to this: http://issues.umbraco.org/issue/U4-9799

[2017-05-10 14:16] jafferton91 commented on #19
Potentially. I have just updated to 7.6.1 and can now replicate the issue in Umbraco 7.5.13, 7.6.0 & 7.6.1. Could this be a bug with 'Custom' session state providers in general?

[2017-05-11 04:23] Shazwazza commented on #19
It could be I'm not really too sure. Perhaps you can try this with the SQL session state provider and see what happens. If it's a serialization issue than it should tell you whereas the redis one might just hide exceptions and do odd things, not sure. If you can replicate the behavior with the SQL session state one than at least it can be debugged locally.

[2017-06-12 13:31] ruant commented on #4
7.6 is out now right? 😃

[2017-06-13 11:53] Shazwazza commented on #4
Yes 7.6 is out, just need to write up docs on how to do it

[2017-06-23 08:35] clarkd opened #20 "Login loop - no errors or exceptions."
Hi.

I'm having an issue with a new Umbraco 7.6 site. We've setup external auth with Azure Active Directory. That all appears to be working fine, but after a random period of time (seemingly) it stops working and our users cannot login. Clicking the "Login with Azure" does the redirection to Microsoft, but on return they just end up on back on the login page. I have to manually restart the app to

[2017-08-04 20:10] aclave1 commented on #20
@clarkd Have you solved this yet?

[2017-08-04 20:11] clarkd commented on #20
No - although I'm not too sure where to start debugging the issue! Are you
experiencing the same issue?

On 4 Aug 2017 23:10, "Alex Clavelle" <notifications@github.com> wrote:

[2017-08-05 22:41] aclave1 commented on #20
Yes I was experiencing the same issue but I was able to figure it out using the code from [this article](https://www.jdibble.co.uk/blog/securing-umbraco-backoffice-with-azure-active-directory/). If you posted some of your code maybe I take a stab at it.

[2017-08-16 10:25] 3ijtKwijt opened #21 "Active Directory + autologin"
Works with normal Active Directory => autologin?

[2017-08-16 23:15] Shazwazza commented on #21
If you 'normal' AD supports OAuth (OpenIDConnect), then yes, otherwise no. This extension library is mostly for enabling OAuth providers and token authentication.

If you are looking for normal AD, look here: https://our.umbraco.org/Documentation/Reference/Security/#authenticating-with-active-directory-credentials

[2017-08-16 23:15] #21 closed

[2017-08-17 12:51] clarkd commented on #20
@aclave1 This is the code I have in UmbracoADAzureExtensions.cs... Would certainly appreciate you taking a look or sharing your version. I used the article you indicated but also hit a few problems along the way so the code does vary slightly...

[code]

[2018-01-24 18:13] arlan85 commented on #20
@aclave1 and @clarkd I have the same issue on Umbraco 7.6.3. The code I use is the same in the post, but for some reason I keep having the same behavior, randomly the login sends me after I login with AAD to the Umbraco login page and in the Chrome console tells me: postlogin = false. Did you get any feedback about this?

[2018-01-24 23:36] aclave1 commented on #20
@arlan85 One of my main issues was that some of my settings were wrong. Make sure your reply url in azure matches the one you provide in umbraco and make sure the schemes match.

[2018-01-25 13:43] arlan85 commented on #20
@aclave1 the login process works fine, but always when redirects after login, it comes to the umbraco login again over and over.

[2018-02-28 11:15] mark-data8 commented on #20
I'm having the same issue - after logging in with AAD I get redirected back to the login page. All the code in `AuthorizationCodeReceived` executes as expected, and I don't see any exceptions thrown. Any ideas where I can start looking?

[2018-02-28 13:30] johanalkstal opened #24 "How do I handle authenticated users who should not get access to backoffice?"
I have these authentication options which I got from https://www.jdibble.co.uk/blog/securing-umbraco-backoffice-with-azure-active-directory/

`var adOptions = new OpenIdConnectAuthenticationOptions
            {
                SignInAsAuthenticationType = Constants.Security.BackOfficeExternalAuthenticationType,
                ClientId = clientId,
                Authority = authority,

[2018-03-21 03:13] Shazwazza commented on #24
You cannot redirect. I cannot recall exactly the process to display an error on the login page but I think you throw an Exception (could be AuthorizationException). It might actually be that the CMS isn't flexible enough to display a custom error when this occurs.  You could check by running a local build of Umbraco and break pointing into `BackOfficeController.ExternalLinkLoginCallback`

[2018-05-16 22:14] eschneider999 opened #25 "Can this be used with Umbraco cloud?"
Can this be used with Umbraco cloud?

Specifically the Azure Active Directory

[2018-05-21 23:35] danwhite85 commented on #20
Anyone solve this yet?

[2018-05-21 23:51] Enoch-Ye commented on #20
We are also facing the same issue on 7.8.1 that user gets redirected back to login page without any exception. Appreciate any help.

[2018-05-29 08:19] Fjellvang commented on #13
@fraabye Did this solution solve it for you?

We have the same issue, and switching to Kentor didn't actually solve the issue for us..

[2018-05-29 08:35] fraabye commented on #13
Unfortunately, it did not. I haven't looked into it recently, but will post back if I get around to fixing it.

[2018-05-30 05:45] Shazwazza commented on #25
Sure, there's nothing on Umbraco Cloud that would mean this wouldn't work.

[2018-05-30 05:45] #25 closed

[2018-05-30 05:55] Shazwazza commented on #20
Sounds like the required claims are missing. Not sure what everyone's code is doing but the above snippet is doing some claim transformations in `SecurityTokenValidated` for whatever reason. The original article mentioned above (https://www.jdibble.co.uk/blog/securing-umbraco-backoffice-with-azure-active-directory/) doesn't do this. I'd suggest keeping everything as simple as possible before modif

[2018-05-30 05:57] Shazwazza commented on #20
Though since there's no errors, it may be something else. I had a similar problem when trying to debug Azure easy auth ... make sure this is NOT on! see here for full details https://shazwazza.com/post/getting-umbraco-to-work-with-azure-easy-auth/  If you are using easy auth then you shouldn't really be mixing the two technologies, but i suppose you can if you follow that guide.

If that's not the

[2018-05-30 10:50] Fjellvang commented on #20
We have the same issue using AD FS instead of Azure for authorisation. It fails after a while in production, and requires a reset of the app pool to work again ..

[2018-06-01 11:51] appstractmeyn commented on #13
Did not solve for me either.

[2018-06-01 13:00] arlan85 commented on #20
All my apps have App Service Authentication OFF (Anonymous access is enabled on the App Service app. Users will not be prompted for login.). This issue is weird and randomly, even if you restart the app, the Azure Authentication redirects you to the login page, but in some cases making a swap between slots in the same app, it works. So, is a  frequent, randomly but annoying issue.

[2018-06-04 09:15] Fjellvang commented on #13
I noticed that when our login starts failing in the 302 cookie being send is missing some info from umbraco
[code]
is not in the cookie, (which it is on our working staging solution), similarly:
[code]
is just empty in the broken solution.
Actually all UMB_EXTLOGIN and UMB_UCONTEXT is missing from the failing solution.

[2018-06-04 09:19] Fjellvang commented on #20
in our failing ADFS Solution we noticed that the redirect cookie is missing a lot of information from umbraco. Specifically UMB_EXTLOGIN and UMB_UCONTEXT, the user get authenticated through ADFS, but it makes sense that it loops if there is no Umbraco information the in cookie i guess.

[2018-06-07 21:28] aclave1 commented on #20
The issue occurs for me after a few days. I have deployed a potential fix to one of my client sites today. I will update you all with the fix if it works!

[2018-07-27 10:56] appstractmeyn commented on #13
Finally solved using https://www.nuget.org/packages/AFLUmbraco

By calling the above nuget in the Notifications
`Notifications = new WsFederationAuthenticationNotifications
				{
					SecurityTokenValidated = async context =>
					{
						var email = context.AuthenticationTicket.Identity.FindFirstValue(ClaimTypes.Email);
							var userService = ApplicationContext.Current.Services.UserService;

[2018-07-30 08:13] appstractmeyn commented on #13
The package has a surface controller, that takes in two parameters, an email, and a OneTime GUID. So what it does is: it generates a GUID, maps it to the email in memory, and then calls the surface controller, which consumes this OneTime GUID and the forces the login to the backoffice. Our clients have now stopped complaining :) The Library AFLUmbraco is more than just this fix, the main purpose i

[2018-09-17 17:06] christ76 commented on #20
We have the same issue here with Umbraco version 7.11.1 assembly: 1.0.6750.39767.  Anyone manage to fix this? Thanks!

[2018-10-22 17:23] akshatnitd opened #26 "LICENSE info missing from the README.md"
* LICENSE info missing from the README.md

[2018-11-02 14:09] #26 closed

[2018-11-15 10:36] nul800sebastiaan commented on #20
Tough one! While I recognize that a few people are battling this issue, we've not had any way to reproduce the issue yet. In cases like this I would start adding copious logging to our source code and deploy custom builds to at least get an idea of what might be going on and where.

I will close this issue for now until we can get some way to reproduce the problem. Fingers crossed 🤞 that we can ge

[2018-11-15 10:36] #20 closed

[2018-11-15 10:42] nul800sebastiaan commented on #19
The related issue has a closed PR on it now, so it looks like this issue might be fixed now. It's been open for quite a while so I'll close it for now and hope that everyone is happily using Redis! 👍

[2018-11-15 10:42] #19 closed

[2018-11-15 10:42] #17 closed

[2018-11-15 10:44] #14 closed

[2018-11-15 10:58] clarkd commented on #20
Seems absurd to close this issue...

On Thu, 15 Nov 2018, 10:36 Sebastiaan Janssen <notifications@github.com
wrote:

[2018-11-15 13:41] arlan85 commented on #20
@clarkd I'm agree with you, we gave all information we have because it is a random issue, today I had again to redeploy my website because my editors can't login into the site. Is is so odd but it happens!

[2018-11-16 11:18] clarkd commented on #20
@Shazwazza  The only pointer I might be able to add is that I think it might be related to some kind of inactivity - we used to experience this problem reasonably regularly but we've since grown in number of employees so our site (internal portal) is being accessed more regularly and I haven't seen the issue in a while - try leaving the site for a few days or something. FYI, we were using Azure AD

[2018-11-19 15:20] CasperTDK commented on #20
Just to chime in. We have the exact same code and issue. A recycle of app pool works. We have hundreds of editors on the site with the issue, and right now they are resorting to use a single umbraco username+password login, while this issue gets resolved

[2018-11-20 00:40] Shazwazza commented on #20
Hi all, please try to not report bugs by saying

Because I don't actually know what the 'exact code' you are actually using is. What is the actual code you are referring too? There's only one code block listed above https://github.com/umbraco/UmbracoIdentityExtensions/issues/20#issuecomment-323064200 and I've mentioned that to get to the bottom of this, we need to remove all complexity in the code

[2018-11-20 00:43] Shazwazza commented on #20
I wrote a post yesterday on implementing Azure AD Auth https://shazwazza.com/post/configuring-azure-active-directory-login-with-umbraco/ so if you are doing things in code in vastly different ways i need to know why and if that is part of the problem (i.e. if you just implement it the simplest way, is it still a problem?)

[2018-11-20 08:14] CasperTDK commented on #20
Alright I will share some more code and I'd test anything you would ask me to.

`using System;
using System.Configuration;
using System.Globalization;
using System.Linq;
using System.Reflection;
using System.Security.Claims;
using System.Threading.Tasks;
using FrontendTemplate.MVC;
using log4net;
using Microsoft.AspNet.Identity.Owin;
using Microsoft.IdentityModel.Protocols;
using Microsoft.Owin.Se

[2018-11-20 09:02] Shazwazza commented on #20
Can you try updating these dependencies to these versions:

https://www.nuget.org/packages/Microsoft.Owin.Security/3.1.0
https://www.nuget.org/packages/Microsoft.Owin.Security.OpenIdConnect/3.1.0
https://www.nuget.org/packages/Microsoft.IdentityModel.Protocol.Extensions/1.0.4.403061554
https://www.nuget.org/packages/System.IdentityModel.Tokens.Jwt/4.0.4.403061554

Is there anything else i might ne

[2018-11-20 09:09] CasperTDK commented on #20
Okay. Will do that now.

Hmm no, it is pretty straight forward setup. 1 server (Windows Server 2016 standard) and 1 instance of umbraco.
The customer wants to only be authenticated through their Azure AD.

[2018-11-20 09:15] Shazwazza commented on #20
ok thanks, at least we can rule out LB. It does seems odd that restarting the appdomain would fix it, i don't think there's a hidden cache within this setup. Let me know if you have any success with the updated libs. There's a 5.x (aspnet core compat) version of the Jwt one but i'm unsure if it's compatible, i'd need to test so not sure at this point.

[2018-11-20 10:44] clarkd commented on #20
@Shazwazza We're on Umbraco Cloud FYI so nothing atypical about our setup. Same workaround for us was to recycle the app pool (in our case, by toggling Debug mode on/off through Cloud UI). We're happy to add some additional tracing/logging if you point us in the right direction :)

[2018-11-29 00:05] Shazwazza commented on #20
Some of the code snippets above show that some logging is taking place at every possible corner of the OAuth process as far as OWIN goes, if none of those logs are yielding anything then I can only imagine that its something taking place within the BackOfficeController https://github.com/umbraco/Umbraco-CMS/blob/dev-v7/src/Umbraco.Web/Editors/BackOfficeController.cs#L319

Perhaps this doesn't succ

[2018-11-29 11:31] CasperTDK commented on #20
@Shazwazza I can't find a way to expose/log value of TempData[TokenExternalSignInError] = result.Errors;
any ideas?

[2018-11-29 23:19] Shazwazza commented on #20
You would see if there are errors in there in the UI when you login, that's what i'm saying above, perhaps that call is failing without returning any errors, only thing you can do is create a custom build of Umbraco and add logging throughout that method and/or step through the code to see what might be happening.

Another question: Do you guys have session timeouts enabled? i.e. `umbracoTimeOutIn

[2018-11-29 23:23] Shazwazza commented on #20
On a side note - unfortunately i haven't been able to see this problem at all in my own implementation for Azure AD + Umbraco. It's been running for over a week and I log in each day without issue 🤔 I'm not doing any claims transforms, etc... just the simple/default setup

Back to this

I don't have this problem at all so that seems odd you have to add additional logic

[2018-11-29 23:36] clarkd commented on #20
Might be worth leaving that running for a few days without logging in and
then try. See my comment RE inactivity above.

On Thu, 29 Nov 2018, 23:23 Shannon Deminick <notifications@github.com wrote:

[2018-11-30 07:37] CasperTDK commented on #20
[code]

Yeah the biggest issue is the sporadic nature. Earlier this week, the AD login worked for the authors until around 10AM, then it just stopped working until a restart of the appPool.

I guess we will make a custom build of umbraco and put logging everywhere in BackOfficeController. Do you have any other services/controllers you think it would be good to place more logging in?
We will need t

[2018-12-07 11:04] CasperTDK commented on #20
@Shazwazza  I've added logging and can confirm that

[2018-12-10 13:34] CasperTDK commented on #20
@Shazwazza  I am able to send you network log or anything else you need as well

[2018-12-11 02:19] Shazwazza commented on #20
I've had the AD provider on my site for a bit now without any issues and have left it for quite a while and still seems ok, the configuration I'm using is bare minimum, i've blogged about it https://shazwazza.com/post/configuring-azure-active-directory-login-with-umbraco/

AD should return the required claims without additional config but there might be an option you need to select as mentioned by

[2018-12-17 10:38] CasperTDK commented on #20
The reason why I am using AuthorizationCode instead of [autoLinkOptions.OnAutoLinking](https://our.umbraco.com/documentation/Reference/Security/auto-linking) is because of the e-mail bug i mentioned:
![image](https://user-images.githubusercontent.com/119062/50082057-53219780-01f0-11e9-8cb8-350627c746ee.png)

[2018-12-18 14:07] nul800sebastiaan commented on #12
Hi @justin-ruffin - this looks like a very old issue, apologies for the extremely late reply 🙈

It looks like the param is being set just fine? I am not sure if the issue has been fixed since you reported it.
https://github.com/umbraco/UmbracoIdentityExtensions/blob/master/src/App_Start/UmbracoADAuthExtensions.cs#L64

If you can still reproduce the problem then make sure to describe the issue in a

[2018-12-18 14:07] #12 closed

[2018-12-19 15:04] CasperTDK commented on #20
@Shazwazza  Yes, it does say unlink when I am able to login:
![image](https://user-images.githubusercontent.com/119062/50228175-a0943500-03a7-11e9-8986-67ae37163193.png)

Yeah I can definitely try and do this. The biggest issue here is that the error is sporadic and there be several days without hiccups. It *seems* that when multiple editors are using the AD login, the issue will occur faster, but

[2019-01-03 14:23] gjelhus commented on #20
Hi

We are experiencing the same issue with version 7.12.3 of umbraco, using ADFS on windows server 2016 as our authentication provider. It works for a few hours at best a day then it fails.  Restarting the application pool fixes the issue.
We have so far been unable to reproduce the issue in our Test and QA environment, it only happens in production.
We have a pretty quick release cycle so if the

[2019-01-09 02:31] Shazwazza opened #30 "Need to update the Google provider since Google+ is deprecated"
Microsoft have posted a work around here: https://github.com/aspnet/Announcements/issues/333

We can ship with a snippet for the work around if we stay in Owin 3 but we should really move to Owin 4 when the time comes and the fix will just be part of microsoft's nuget package.

[2019-02-06 12:02] CasperTDK commented on #20
Hi guys. I have solved the issue with the following *hacks*:

[code]

Sources:
https://github.com/Sustainsys/owin-cookie-saver
https://dotnetcodetips.com/Tip/91/Azure-OWIN-website-login-gets-stuck-on-a-never-ending-redirect-loop

I call them a hack, but I do not completely understand the problem nor the fix... But we've had 100% stability for over a week now! Before it was a daily issue

[2019-02-06 12:07] Shazwazza commented on #20
Interesting and great! Hopefully this works for others too (please let me know)

I suppose this is why it is so hard to replicate. We have some cookie manager code built in to umbraco so it might be possible to leverage some of the work arounds listed in those various articles and in https://github.com/aspnet/AspNetKatana/wiki/System.Web-response-cookie-integration-issues

[2019-02-12 14:51] wojciech-dabrowski commented on #30
Actually, it is already part of Microsoft NuGet package: https://www.nuget.org/packages/Microsoft.Owin.Security.Google/

[2019-02-21 13:09] tommyturkijevic commented on #30
So to make the Google Auth in Umbraco work, all we need to do is update to latest nuget package ?

[2019-02-21 13:25] wojciech-dabrowski commented on #30
Not really, current implementation of UmbracoIdentityExtension is working with Owin 3, Microsoft fix is applied to Owin 4. For now, you should implement workaround mentioned here: https://github.com/aspnet/AspNetKatana/issues/251#issuecomment-449587635

[2019-02-21 17:20] tommyturkijevic commented on #30
Hi again, But what version of the nuget package do I need 3.0.1.0 ? Or do I need to upgrade this one aswell.

[2019-02-22 11:16] wojciech-dabrowski commented on #30
You mean Microsoft.Owin.Security.Google? 3.0.1 should be enough, but it is recommended to update it to the 3.1.0.

[2019-02-22 14:50] tommyturkijevic commented on #30
@wojciech-dabrowski Thanks, i had to update to 3.1.0 and the workaround worked perfectly.  Thanks..

[2019-02-25 14:28] gjelhus commented on #20
Hi
Where in the pipeline did you include the third party cookie component  @CasperTDK  ? I gave it a try but no luck for me, but i have a feeling that order matters here. Any help would be greatly apricated :)

best regards
Tor Arne Gjelhus

[2019-02-25 16:44] CasperTDK commented on #20
Sure!

web.config appsettings
[code]

[code]

[2019-02-27 09:06] vonbarnekowa opened #31 "IdentityExtensions - Umbraco 8 support"
Hey,

Will this Nuget be updated to support Umbraco 8?

Best,
Alec

---
_This item has been added to our backlog [AB#1993](https://umbraco.visualstudio.com/243e7927-03b2-44e2-908f-d4ac7ea5daaa/_workitems/edit/1993)_

[2019-03-04 09:43] gjelhus commented on #20
@CasperTDK  Thank you very much. I will give it a go :)

[2019-03-06 07:30] peterernst commented on #31
Hi!
We are also wondering if this will be updated to Umbraco 8?
Regards/
Peter

[2019-03-07 23:43] Shazwazza commented on #31
Yes it will, we'll be working on this soon but I currently can't provide you a release date. It won't be a difficult update so a PR would certainly be welcome!

[2019-03-11 14:50] vonbarnekowa commented on #31
Hey,

You should mark this issue with the `help-wanted` or `good-first-issue` label.

[2019-03-18 14:55] gjelhus commented on #20
@CasperTDK  We have now over a week of stable auth  so i think its safe to say that this works, so than you very much  :) .
For others that might find this thread, the order you do things in matters. The custom cookiesaver must be setup BEFORE you do the regular  owin setup stuff as shown above. In my first try i did it after and then it did not work.

[2019-03-28 03:40] Shazwazza commented on #20
What we'll want to do is update the code in the project, the docs and the nuget package for https://www.nuget.org/packages/UmbracoCms.IdentityExtensions.AzureActiveDirectory/ to perhaps have this built in.

What i'm unsure about at this point is if both of these things are required? `app.UseKentorOwinCookieSaver();` AND `SystemWebCookieManager` ?

[2019-04-04 08:32] Lepike commented on #20
@CasperTDK Thank you for this! Our solution have been up and running for a week without any failed logins.

[2019-04-11 09:44] alessiodecastro opened #32 "UmbracoCms.IdentityExtensions.Microsoft access denied"
Hello, in my project I am currently using the following nugets:
- UmbracoCms.Core v7.14.0
- UmbracoCms.IdentityExtensions v1.0.1
- UmbracoCms.IdentityExtensions.Microsoft v1.0.0

After the installation/configuration of the Microsoft Identity Extension and related app registration on my live portal I cannot access the cms yet.

On the live portal I registred an App with implicit flow allowed and re

[2019-04-11 09:47] Shazwazza commented on #32
I think we need to remove the Microsoft provider. Are you trying to setup auth with Azure AD?  see https://shazwazza.com/post/configuring-azure-active-directory-login-with-umbraco/

[2019-04-11 09:54] alessiodecastro commented on #32
No I don't need to setup an auth with Azure AD (OpenId); the final scope would be setup an auth in umbraco with Azure AD B2C as 3rd part provider which uses OAuth2 as protocol.

[2019-04-26 09:46] deMD commented on #31
I did make a pull request for Umbraco 8 support last week. Sadly I still get an error which seems to come from the Umbraco Database that I have yet to resolve. Any pair of eyes would be welcome for that!

[2019-05-01 00:32] Shazwazza commented on #32
Closing this issue since the question was relating to Azure AD B2C (according to an email thread for this issue which has been removed ) which the Microsoft Provider is not meant for.

[2019-05-01 00:32] #32 closed

[2019-05-31 15:26] Insinfi commented on #20
@CasperTDK When trying your solution I have encounter a problem I keep getting 417 response after been logged. That result into white page on umbraco.
I think it may come from the http-only on the UMB-XSRF-TOKEN cookie.

[2019-06-18 13:21] Capellan29 commented on #31
Hi, any updates with it?
I really need it working in Umbraco 8

[2019-06-18 13:22] vonbarnekowa commented on #31
https://github.com/pralthom/umbraco8-LDAP-auth

[2019-06-18 14:40] Capellan29 commented on #31
Thanks, I'll test it

[2019-06-19 14:58] Capellan29 commented on #31
Hi, I'va test this example, but it didn't work for me, I foollowed all the instructions, but I don't know what I'm doing wrong :(

[2019-06-19 16:19] vonbarnekowa commented on #31
Can you be more precise? Umbraco version, which error, etc..

[2019-06-19 16:52] Capellan29 commented on #31
Version -> Umbraco 8.0.2
Error Message -> The server could not be contacted. -> The LDAP server is unavailable.
I can't see in the example where to configure the azureAd:tenantId, azureAd:clientId or azureAd:redirectUrl keys, I thing this should be my error

[2019-06-21 15:50] Capellan29 commented on #31
Any help?

[2019-06-21 17:57] minheemyung commented on #30
Hello, I'm trying to setup Google authentication, but I'm having an issue below in my local machine. Do you have any idea how to fix this?

Thanks!
Minhee

![image](https://user-images.githubusercontent.com/35103919/59941832-2dd64600-942c-11e9-9861-954d71cb01c3.png)

![image](https://user-images.githubusercontent.com/35103919/59941879-5100f580-942c-11e9-997c-d5b2aa2eb7a9.png)

![image](https://use

[2019-06-26 15:01] cleversolutions commented on #31
@Shazwazza your right this looks like a simple update. I'll update it for V8 and send a pull request shortly.

[2019-08-05 04:11] #31 closed

[2019-08-05 04:12] Shazwazza commented on #30
Closing this, version 2.0.0 requires the latest version of Microsoft.Owin.Security.Google

[2019-08-05 04:12] #30 closed

[2019-09-27 14:58] brvaland opened #35 "Add custom claim to Umbraco Backoffice Identity"
Hi

I would like to add custom claim to umbraco backoffice identity, i tried to add claims to AuthorizationCodeReceived event of openidconnect but those claims are not available to Umbraco BackOffice Identity.

[2020-01-16 17:15] nickcdev opened #36 "Add ability to use this with front end Members"
Is it possible to use this to enable Members to log into the front end of the umbraco site with their Google/Facebook account? Then remember their 3rd party account / email in a member profile?

If it is, please could an overview of how to do this be documented?

[2020-01-17 00:54] Shazwazza commented on #36
No this is not what this lib is for, this is for the back office only as per readme.

For front-end members you want this: https://github.com/shazwazza/UmbracoIdentity

[2020-01-17 00:54] #36 closed

[2020-03-24 02:38] cleversolutions opened #37 "Preview Unpublished Pages Breaks"
This sounds strange, but enabling back office token authentication by uncommenting the line `app.UseUmbracoBackOfficeTokenAuth(new BackOfficeAuthServerProviderOptions());` breaks preview. Preview an unpublished page and you get a 404. Preview a published page and you don't see any changes.

[2020-03-24 05:44] Shazwazza commented on #37
It's the order of registrations can you post the whole owin file?

[2020-03-25 02:07] cleversolutions commented on #37
Thanks @Shazwazza, nothing crazy, just the default example:
[code]
I've also tried calling it in `ConfigureUmbracoAuthentication` like so:
[code]

[2020-04-21 00:22] Shazwazza commented on #37
Interesting, you can see where the preview authentication is added here https://github.com/umbraco/Umbraco-CMS/blob/v8/contrib/src/Umbraco.Web/UmbracoDefaultOwinStartup.cs#L102

For whatever reason the ordering is affecting this. I remember something about this but can't remember the details. In `ConfigureUmbracoAuthentication` you can try `app.UseUmbracoBackOfficeTokenAuth();` before `base.Config

[2020-05-07 14:27] cleversolutions commented on #37
Thanks @Shazwazza calling` app.UseUmbracoBackOfficeTokenAuth();` before `base.Configuration(app);` did the trick. I'll submit a PR shortly to update the startup classes that are shipped.

[2020-05-07 14:55] cleversolutions commented on #37
Fixed in #39.

[2020-07-31 06:27] #37 closed

[2020-10-13 09:33] John-Blair opened #40 "Clarification: How do I use this package?"
I am confused - I initially thought this package would be used to allow MEMBERS to login to umbraco using Google/Facebook etc via Oauth and OId - but all the comments appear to mention that is it for use for Back Office USERS. This makes no sense to me e.g. why would you need this and how would you assign permissions to such users e.g. to access a new plugin section.

Am I missing something?

Can

[2020-10-13 10:47] John-Blair commented on #40
Ah Umbraco Members uses the Membership Provider and not ASP.Net Identity - the latter is used for back office Users only.

I am still curious as to how you would setup permissions for these users given you don't know in advance who they would be?

[2020-10-13 10:55] Shazwazza commented on #40
Yes, this is used for the back office **users**, it is to assist with enabling external login providers (OAuth) for the back office.

I entirely agree that documentation on this is very sparse and needs a lot of work. Some of that is being worked on for 8.9 which is all about improving these features of external login providers for the back office. For now unfortunately, the documentation is basic

[2020-10-13 11:20] John-Blair commented on #40
Thanks a lot for the quick reply. I'll take a look at your links.

I found this article which helped a lot. Just pasting it here in case its of use to anyone else.
It became much clearer when I saw in that article that you create a user account as normal and then link it to say your google account! Which makes a lot of sense now. And I also see you can also avoid creating users and assign them def

[2020-10-13 11:20] #40 closed

[2020-10-13 15:45] John-Blair commented on #40
@Shazwazza , FYI I've managed to get Google Authentication working on my live site for back office users - thanks for your help.
Thought i'd do that first before looking at the members.

It works really well - good job by the umbraco team.

One thing that puzzles me is the CallbackPath setting in UmbracoGoogleAuthExtensions.cs  - its configured to be the same in the OAuth Client Credentials (scree

[2020-10-13 23:55] Shazwazza commented on #40
Hi @John-Blair, some more info for you:

That is the typical way this can be used but we also have an AutoLinking feature for more corporate scenarios like when you have Azure Active Directory enabled and you want to control from your external login provider. In which case you want the local users created automatically. In the simplistic case, you can just enable autolinking and tell it to by defa

[2020-10-20 17:45] John-Blair commented on #40
Hi @Shazwazza ,

For others I created a video to guide them through the coding and setup of a simple linking of a Backoffice User to a Google Sign In using OAuth - and added it the the Our Umbraco community videos page.
https://www.youtube.com/watch?v=OO9WFeWr5yw&list=PLzjlY-50t_3VQFKymxk3NnhPYaKkjK1nZ&index=28

I am thinking of taking a look at Member login using your UmbracoIdentity package - bu

[2020-10-21 00:56] Shazwazza commented on #40
Hi @John-Blair

Nice work, please feel free to add this link to the readme of this project and/or the https://github.com/umbraco/UmbracoDocs project. Also note that with 8.9 there's some docs being updated here: https://github.com/umbraco/UmbracoDocs/pull/2788

For members, like I mentioned above:

Please follow the instructions here https://github.com/shazwazza/UmbracoIdentity for members, instal

[2020-10-21 10:50] John-Blair commented on #40
Thanks @Shazwazza ,  I did actually take a look at your UmbracoIdentity package documentation, and A/D link, before asking my previous questions 😂. I'll try and get an accounts page working and see if I can figure it out. Thanks for your help.

[2020-11-02 16:06] nul800sebastiaan commented on #3
@umbrabot still relevant
This is a test.. ✔️

[2020-11-02 16:10] nul800sebastiaan commented on #3
Success 🎉

Since this 5 years old now, I'll close it for real. 😉

[2020-12-08 13:24] #6 closed

[2020-12-09 07:11] #13 closed

[2020-12-11 07:47] #3 closed

[2020-12-14 19:22] #24 closed

[2021-01-06 21:23] yasserpadia commented on #40
@Shazwazza
We implemented the following successfully on 8.6.5 > https://shazwazza.com/post/configuring-azure-active-directory-login-with-umbraco/
Since upgrading to 8.9.1 and 8.10.1 the umbraco profile is not displaying any information. Is there a fix for this, see the attached.

![Screenshot 2021-01-06 231842](https://user-images.githubusercontent.com/33520512/103821064-2316ec80-5076-11eb-99dd-20

[2021-03-04 00:01] #35 closed

[2021-03-04 22:29] Shazwazza commented on #35
This is possible now: https://our.umbraco.com/Documentation/Reference/Security/auto-linking#transfering-claims-from-external-identities

[2021-03-14 15:49] adamn9 opened #41 "Azure Active Directory with Easy Auth turned on in Azure"
Hi Guys!

I am getting an error when I configured this with the default provided settings; and we are using Umbraco v.8.9.0

[code]

Our umbraco is hosted in Azure as an appservice, with the Authentication turned on (stopping anyone external accessing any resources) - the EasyAuth is set to Azure Active Directory too.
I have tried this with both same registration of Easy Auth and  UmbracoIdentityE

[2021-03-15 13:10] nul800sebastiaan commented on #41
Hmm, I have not used Easy Auth so I have no idea where to begin, maybe @Shazwazza has a few hints?

[2021-03-16 04:13] Shazwazza commented on #41
I haven't looked at that for years but remember investigating years ago and wrote this post, hopefully that helps? https://shazwazza.com/post/getting-umbraco-to-work-with-azure-easy-auth/

[2021-03-17 16:22] adamn9 commented on #41
Thanks @Shazwazza - I'll try it out and feedback shortly.

[2021-03-22 07:25] qz2rg4 opened #42 "`OnAutoLinking` and `OnExternalLogin` not executing Azure Ad"
@Shazwazza Good Morning,

Hopefully, you can assist me in this problem.

Looking at the code attached Following code gets executed in their callbacks
`SecurityTokenValidated`
`AuthorizationCodeReceived`
`MessageReceived`

However

`OnAutoLinking` and `OnExternalLogin` does not

My return url is "umbraco/" is this correct ? for I see google and facebook is different.

I can manually link the accoun

[2021-03-22 09:21] adamn9 commented on #41
Hi Guys, I am afraid that's not worked - any other ideas?

[2021-03-25 12:04] nul800sebastiaan commented on #42
Hi there @qz2rg4 - sorry for the late reply, had to do some asking around about this. Unfortunately this is not something we can directly help with. All I can tell you at this point is people are successfully using Azure AD so it is definitely possible. Might be a good idea to leave a question on our forums at https://our.umbraco.com/ for some help. You can also investigate the source code, `OnAut

[2021-03-25 12:04] #42 closed

[2021-05-19 16:17] adamn9 opened #43 "Login loop"
We are currently experiencing multiple users having login loops. T

We are using  UmbracoCms.IdentityExtensions version="2.0.0" and UmbracoCms.IdentityExtensions.AzureActiveDirectory version="2.0.0"

App Registration has a email claim configured as ID  and we control the access using Enterprise Applicaiton by only letting users login from certain AD group.

When a user is not in that AD group we d

[2021-05-25 10:49] #41 closed

[2021-05-27 18:25] leehowarth opened #44 "v9 Upgrade"
is there currently a plan / timescale for an upgrade of this package to the v9 version of umbraco?

[2021-05-27 18:28] Shazwazza commented on #44
This will not be ported to v9, all identity functionality is built in to the cms.

[2021-05-27 18:28] #44 closed

[2021-07-09 00:27] cleversolutions commented on #44
Hi @Shazwazza I'm taking the rc out for a spin. I'm wanting to see if I can hook it up to an OAuth2 OIDC service. I think a lot of people might be coming here to see how to do OAuth in v9. Any hints on how one would add an external authentication provider in 9?

Thanks

[2022-03-17 12:55] Reddaxi opened #46 "How to display error messages on the login screen?"
Hello

I'd like to make a flow that doesn't log the user in on authentication.
The ideal flow would be:

1. User clicks "Sign in with Active Directory"
2. User is redireced and completes the Azure login flow
3. User is redirected to my Umbraco application, where the autolinking occurs. I create the user, grant them basic rights and set them as disabled (I didn't find a setting for this, so I opted